@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Item>;

<h1>Items</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
}

<ul>
  @foreach(Item item in Model)
  {
      <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId }) | Due Date: @item.DueDate.ToShortDateString()
        @if (item.IsComplete == true)
        {
          <p>✓</p>
        }
        else if (item.IsComplete == false)
        {
          @using (Html.BeginForm("MarkComplete","Items"))
          {
            @Html.Hidden("itemId", @item.ItemId)
            <input type ="submit" value="Complete">
          }
        }
      </li>
  }
</ul>

<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Home","Index","Home")</p>